* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* Navbar */
header {
    background: #1b1b1b;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #00eaff;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #000428, #004e92);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 80px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #00eaff;
}

.hero-text p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    background: #00eaff;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

/* Sections Layout */
.about, .skills, .projects, .contact {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.about p {
    font-size: 18px;
    margin-top: 10px;
}

/* Skills */
.skill-box {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background: #004e92;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
}

/* Projects */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

/* Contact */
.contact p {
    font-size: 18px;
    margin-top: 8px;
}
